.contenedor-login{
    min-height: 100vh;
    background:linear-gradient(27deg, #34495e 50%, #2c3c50 50%);
  }

  .mat-icon{
  position: absolute;
  margin-top: -35px;
  left: 25px;
  }

.icono-blanco{
   color: white;

}

.icono-blanco.large{
  transform: scale(1.5);

}

.icono-blanco:hover{
  color: #ecececec;
}
.navbar-brand{
 margin-left: 140px;
 }

.contenedor{

      max-width: 320px;
      display: grid;
      gap: 0px;
      color: #FFF;
      background-color: #1A2B4C;
      padding: 10px;
      border-radius: 8px;
      margin: auto;
      margin-top: 20px;
    }

    .card{
      display: block;
      background-color: #C0C0C0;
      box-shadow: 2px 2px px10 rgba(0, 0, 0, .40);
      text-align: center;
      height: 60px;
      padding: 15px;

    }

    .encabezado {
      font-weight: bold;
      background-color: #B0B0B0;
    }


  .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
  margin-left: 10px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

    .card2{
      display: block;
      background-color: #C0C0C0;
      box-shadow: 2px 2px px10 rgba(0, 0, 0, .40);
      text-align: center;
      height: 60px;
      padding: 15px;
      border-radius: 8px;
      margin-top: 10px;

    }

/* Switch Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.botones-r {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
