.contenedor-login{

    min-height: 100vh;
    background:linear-gradient(27deg, #34495e 50%, #2c3c50 50%);

  }
.mat-icon{
  position: absolute;
  margin-top: -35px;
  left: 25px;
  } 

.icono-blanco{
   color: white;
  
}

.icono-blanco.large{
  transform: scale(1.5);

}

.icono-blanco:hover{
  color: #ecececec;
}