.contenedor-login{

    min-height: 100vh;
    background:linear-gradient(27deg, #34495e 50%, #2c3c50 50%);

  }

.mat-icon{
  position: absolute;
  margin-top: -35px;
  left: 25px;

  }


.grid-container{
  margin-top: 10px;
  display: grid;
  place-items: center;

}

.input-1{
  margin-top: 20px;
  width: 260px;
}

.input-2{
  margin-top: 10px;
  width: 260px;
  text-align: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 columnas, una por botón */
  gap: 10px; /* espacio entre botones */
  justify-content: center; /* centra el grupo horizontalmente */
  align-items: center;     /* centra verticalmente si hay altura */
  padding: 20px;
  font-family:Arial, Helvetica, sans-serif ;


}


.tabla {

      max-width: 900px;
      display: grid;
      grid-template-columns:repeat(4,4fr) ;
      grid-template-columns: repeat(4,1fr);
      gap:0;
      color: #1A2B4C;
      background-color: #1A2B4C;
      padding: 10px;
      border-radius: 8px;
      width: fit-content;
      margin: 0 auto;
    }
    .tabla div {
      display: block;
      padding: 8px;
      background-color: #C0C0C0;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, .40);
      text-align: center;
    }

    .tabla .encabezado {
      font-weight: bold;
      background-color: #B0B0B0;
    }
.icono-blanco{
   color: white;

}

.icono-blanco.large{
  transform: scale(1.5);

}
.icono-blanco:hover{
  color: #ecececec;
}


 .modificar{

      padding: 10px 40px;
      margin-right: 10px;
      cursor: pointer;
      border: none;

      border-radius: 5px;
      color: #ffff;
 }
 .modificar:hover{
  background-color: #006B3C;
 }



  .eliminar {
  padding: 10px 20px;

  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
    }

     .eliminar  {
      padding: 10px 20px;
      margin-right: 10px;
      cursor: pointer;
      border: none;
      background-color:#C0C0C0 ;
      border-radius: 5px;
 }
.eliminar:hover {
      background-color: grey;
    }

    .contenedor{

      max-width: 500px;
      display: grid;
      background-color: #1A2B4C;
      border-radius: 5px;
      margin: auto;
      margin-top: 20px;

    }
    .navbar-brand{
      margin-left: 130px;
    }

  .pagina-label {
  margin: 0 10px;
  color: white;
  font-weight: bold; /* opcional, para que resalte */
}
