*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor-login{
    height: 100vh;
    background:linear-gradient(27deg, #34495e 50%, #2c3c50 50%)
}

.text{
color: white;
font-size: 100%;
}
